body{
background: #F8FFAE;
  background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
  background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
}

#box1 {

height: 100px;
justify-content: center;
width: 100%;
margin: auto;
padding-top: 10px;
border: solid;
border-color: yellow;
border-radius: 10px;
background: #F8FFAE;
text-align: center;
padding-bottom: 50px;
font-size: 30px;
}
#box2 {
text-align: center;
line-height: 1px;
padding-left: 10px;
padding-right: 10px;
height: 30px;
width: 1405px;
border: solid;
border-color: yellow;
border-radius: 10px;
background: white;
font-size: 15px;
}

#demo{
color: white;
text-align: center;
font-size: 150px;
}
#khalid{
text-align: center;

font-size: 80px;
}
#khali{
text-align: center;

font-size: 80px;
}
#khal{
text-align: center;

font-size: 80px;
}#kha{
text-align: center;

font-size: 80px;
}
